<div class="">
	<h1>New players</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/players/create" method="post">
				<div class="">
					<label for="">id_players</label>
					<input type="number" name="id_players" value="" required="true">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">college</label>
					<input type="text" name="college" value="" required="false">
				</div>
				<div class="">
					<label for="">birthdate</label>
					<input type="text" name="birthdate" value="" required="true">
				</div>
				<div class="">
					<label for="">pictures</label>
					<input type="text" name="pictures" value="" required="false">
				</div>
			<button type="submit">Save players</button>
		</form>
		<br />
		<a href="/players">Index</a>
	</div>
</div>
