<div class="">
	<h1>New joinTeamStatSeason</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/joinTeamStatSeason/create" method="post">
				<div class="">
					<label for="">id_season</label>
					<input type="number" name="id_season" value="" required="true">
				</div>
				<div class="">
					<label for="">id_team_stat</label>
					<input type="number" name="id_team_stat" value="" required="true">
				</div>
			<button type="submit">Save joinTeamStatSeason</button>
		</form>
		<br />
		<a href="/joinTeamStatSeason">Index</a>
	</div>
</div>
