<h1>Show joinTeamStatSeason</h1>

	<p>
		<strong>id_season:</strong>
		<%= element.id_season %>
	</p>
	<p>
		<strong>id_team_stat:</strong>
		<%= element.id_team_stat %>
	</p>

<br>
<a href="/joinTeamStatSeason/edit/<%= element.id %>">Edit</a>
<a href="/joinTeamStatSeason/create">New</a>
<a href="/joinTeamStatSeason">Back</a>
