<div class="">
	<h1>New archive</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/archive/create" method="post">
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="true">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="number" name="createdAt" value="" required="false">
				</div>
				<div class="">
					<label for="">fromModel</label>
					<input type="text" name="fromModel" value="" required="false">
				</div>
				<div class="">
					<label for="">originalRecord</label>
					<input type="text" name="originalRecord" value="" required="false">
				</div>
				<div class="">
					<label for="">originalRecordId</label>
					<input type="text" name="originalRecordId" value="" required="false">
				</div>
			<button type="submit">Save archive</button>
		</form>
		<br />
		<a href="/archive">Index</a>
	</div>
</div>
