<div class="">
	<h1>New database</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/database/create" method="post">
				<div class="">
					<label for="">createdAt</label>
					<input type="number" name="createdAt" value="" required="false">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="number" name="updatedAt" value="" required="false">
				</div>
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="true">
				</div>
			<button type="submit">Save database</button>
		</form>
		<br />
		<a href="/database">Index</a>
	</div>
</div>
