<div class="">
	<h1>New team</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/team/create" method="post">
				<div class="">
					<label for="">id_team</label>
					<input type="number" name="id_team" value="" required="true">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">logo</label>
					<input type="text" name="logo" value="" required="true">
				</div>
				<div class="">
					<label for="">short_name</label>
					<input type="text" name="short_name" value="" required="true">
				</div>
			<button type="submit">Save team</button>
		</form>
		<br />
		<a href="/team">Index</a>
	</div>
</div>
