<div class="">
	<h1>New season</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/season/create" method="post">
				<div class="">
					<label for="">id_season</label>
					<input type="number" name="id_season" value="" required="true">
				</div>
				<div class="">
					<label for="">year</label>
					<input type="text" name="year" value="" required="true">
				</div>
			<button type="submit">Save season</button>
		</form>
		<br />
		<a href="/season">Index</a>
	</div>
</div>
