<h1>Show season</h1>

	<p>
		<strong>id_season:</strong>
		<%= element.id_season %>
	</p>
	<p>
		<strong>year:</strong>
		<%= element.year %>
	</p>

<br>
<a href="/season/edit/<%= element.id %>">Edit</a>
<a href="/season/create">New</a>
<a href="/season">Back</a>
