<div class="">
	<h1>New statTeam</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/statTeam/create" method="post">
				<div class="">
					<label for="">id_stat_team</label>
					<input type="number" name="id_stat_team" value="" required="true">
				</div>
				<div class="">
					<label for="">place</label>
					<input type="number" name="place" value="" required="true">
				</div>
				<div class="">
					<label for="">win</label>
					<input type="number" name="win" value="" required="true">
				</div>
				<div class="">
					<label for="">lose</label>
					<input type="number" name="lose" value="" required="true">
				</div>
				<div class="">
					<label for="">points</label>
					<input type="number" name="points" value="" required="true">
				</div>
				<div class="">
					<label for="">three_points</label>
					<input type="number" name="three_points" value="" required="true">
				</div>
				<div class="">
					<label for="">three_points_attemps</label>
					<input type="number" name="three_points_attemps" value="" required="true">
				</div>
				<div class="">
					<label for="">free_throws</label>
					<input type="number" name="free_throws" value="" required="true">
				</div>
				<div class="">
					<label for="">free_throws_attempted</label>
					<input type="number" name="free_throws_attempted" value="" required="true">
				</div>
				<div class="">
					<label for="">offensive_rebounds</label>
					<input type="number" name="offensive_rebounds" value="" required="true">
				</div>
				<div class="">
					<label for="">defensive_rebounds</label>
					<input type="number" name="defensive_rebounds" value="" required="true">
				</div>
				<div class="">
					<label for="">asits</label>
					<input type="number" name="asits" value="" required="true">
				</div>
				<div class="">
					<label for="">turnover</label>
					<input type="number" name="turnover" value="" required="true">
				</div>
				<div class="">
					<label for="">steals</label>
					<input type="number" name="steals" value="" required="true">
				</div>
				<div class="">
					<label for="">blocks</label>
					<input type="number" name="blocks" value="" required="true">
				</div>
				<div class="">
					<label for="">personal_fouls</label>
					<input type="number" name="personal_fouls" value="" required="true">
				</div>
				<div class="">
					<label for="">id_team</label>
					<input type="number" name="id_team" value="" required="true">
				</div>
			<button type="submit">Save statTeam</button>
		</form>
		<br />
		<a href="/statTeam">Index</a>
	</div>
</div>
