<div class="">
	<h1>New joinPlayerTeamSeaon</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/joinPlayerTeamSeaon/create" method="post">
				<div class="">
					<label for="">id_seaon</label>
					<input type="number" name="id_seaon" value="" required="true">
				</div>
				<div class="">
					<label for="">id_player_info</label>
					<input type="number" name="id_player_info" value="" required="true">
				</div>
			<button type="submit">Save joinPlayerTeamSeaon</button>
		</form>
		<br />
		<a href="/joinPlayerTeamSeaon">Index</a>
	</div>
</div>
