<div class="">
  <h1>New joinPlayerTeamSeaon</h1>

  <div class="body">
    <form class="" action="/joinPlayerTeamSeaon/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">id_seaon</label>
          <input type="number" name="id_seaon" value="<%= element.id_seaon %>" required="true">
        </div>
        <div class="">
          <label for="">id_player_info</label>
          <input type="number" name="id_player_info" value="<%= element.id_player_info %>" required="true">
        </div>
      <button type="submit">Update joinPlayerTeamSeaon</button>
    </form>
    <br />
    <a href="/joinPlayerTeamSeaon">Index</a>
  </div>
</div>