<h1>Show joinPlayerTeamSeaon</h1>

	<p>
		<strong>id_seaon:</strong>
		<%= element.id_seaon %>
	</p>
	<p>
		<strong>id_player_info:</strong>
		<%= element.id_player_info %>
	</p>

<br>
<a href="/joinPlayerTeamSeaon/edit/<%= element.id %>">Edit</a>
<a href="/joinPlayerTeamSeaon/create">New</a>
<a href="/joinPlayerTeamSeaon">Back</a>
