<div class="">
	<h1>New playerInfo</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/playerInfo/create" method="post">
				<div class="">
					<label for="">id_player_info</label>
					<input type="number" name="id_player_info" value="" required="true">
				</div>
				<div class="">
					<label for="">age</label>
					<input type="number" name="age" value="" required="true">
				</div>
				<div class="">
					<label for="">position</label>
					<input type="text" name="position" value="" required="true">
				</div>
				<div class="">
					<label for="">numero</label>
					<input type="number" name="numero" value="" required="true">
				</div>
				<div class="">
					<label for="">weight</label>
					<input type="number" name="weight" value="" required="true">
				</div>
				<div class="">
					<label for="">height</label>
					<input type="number" name="height" value="" required="true">
				</div>
				<div class="">
					<label for="">experience</label>
					<input type="number" name="experience" value="" required="true">
				</div>
				<div class="">
					<label for="">headshot</label>
					<input type="text" name="headshot" value="" required="true">
				</div>
				<div class="">
					<label for="">minute_played</label>
					<input type="number" name="minute_played" value="" required="true">
				</div>
				<div class="">
					<label for="">two_points</label>
					<input type="number" name="two_points" value="" required="true">
				</div>
				<div class="">
					<label for="">three_points</label>
					<input type="number" name="three_points" value="" required="true">
				</div>
				<div class="">
					<label for="">block</label>
					<input type="number" name="block" value="" required="true">
				</div>
				<div class="">
					<label for="">turnover</label>
					<input type="number" name="turnover" value="" required="true">
				</div>
				<div class="">
					<label for="">player_infocol</label>
					<input type="text" name="player_infocol" value="" required="true">
				</div>
				<div class="">
					<label for="">id_team</label>
					<input type="number" name="id_team" value="" required="true">
				</div>
				<div class="">
					<label for="">id_player</label>
					<input type="number" name="id_player" value="" required="true">
				</div>
			<button type="submit">Save playerInfo</button>
		</form>
		<br />
		<a href="/playerInfo">Index</a>
	</div>
</div>
